.coffe__list {
    display: flex;
    width: 873px;
    justify-content: space-between;
}
@media screen and (max-width:892px) {
    .coffe__list {
        width: 700px;
    }
}
@media screen and (max-width:712px) {
    .coffe__list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}